In [156]:
import pandas as pd
import numpy as np
import snowflake.connector as sf
from bs4 import BeautifulSoup
import requests
from snowflake.connector.pandas_tools import write_pandas

In [157]:
connection = sf.connect(user = 'DIVYAASHISHMOHANTY',
                        role = 'ACCOUNTADMIN',
                        password = 'Divyaashish_9438',
                        account = 'ad31709.central-india.azure',
                        warehouse = 'COMPUTE_WH',
                        database = 'PRACTICE', 
                        schema = 'p1')

In [158]:
cursor=connection.cursor()

In [159]:
cursor.execute('use schema p1')

In [160]:
productdf = pd.read_csv("product.csv")

In [161]:
productdf.head()

,INDEX,NAME,DESCRIPTION,PRICE,REVIEWS
0,0,Lenovo IdeaTab,"7"" screen, Android",$69.99,7 reviews
1,1,IdeaTab A3500L,"Black, 7"" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2",$88.99,7 reviews
2,2,Acer Iconia,"7"" screen, Android, 16GB",$96.99,7 reviews
3,3,Galaxy Tab 3,"7"", 8GB, Wi-Fi, Android 4.2, White",$97.99,2 reviews
4,4,Iconia B1-730H...,"Black, 7"", 1.6GHz Dual-Core, 8GB, Android 4.4",$99.99,1 reviews

In [162]:
productdf.columns = map(str.upper,productdf.columns)

In [163]:
productdf.head()

,INDEX,NAME,DESCRIPTION,PRICE,REVIEWS
0,0,Lenovo IdeaTab,"7"" screen, Android",$69.99,7 reviews
1,1,IdeaTab A3500L,"Black, 7"" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2",$88.99,7 reviews
2,2,Acer Iconia,"7"" screen, Android, 16GB",$96.99,7 reviews
3,3,Galaxy Tab 3,"7"", 8GB, Wi-Fi, Android 4.2, White",$97.99,2 reviews
4,4,Iconia B1-730H...,"Black, 7"", 1.6GHz Dual-Core, 8GB, Android 4.4",$99.99,1 reviews

In [164]:
productdf = productdf.rename({"UNNAMED: 0" : "INDEX"}, axis =1)

In [165]:
productdf.to_csv("product.csv", index=False)

In [166]:
cursor.execute('use schema p1')
write_pandas(connection,productdf,table_name='PRODUCT')

(True,
 1,
 21,
 [('joyfleiavy/file0.txt', 'LOADED', 21, 21, 1, 0, None, None, None, None)])